div#postbox {
  background: var(--orange);
  border-color: var(--orange);
  color: var(--darkPlum);

  button {
    background: var(--darkPlum);
    color: var(--orange);

    &:hover {
      color: var(--teal);
    }
  }
}

// ::ng-deep div#postbox {
//   background: var(--orange);
// }

::ng-deep .mat-dialog-container {
  background: var(--orange);
  border: solid var(--darkPlum) 10px;
  //color: var(--orange);
}

mat-form-field {
  width: 400px;
  text-align: center;
}

.inputPostDialogue {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}