<div class="post-div">
  <!-- <h3>{{title}}</h3> -->
  <div class="comment">
    <p class="comment-content">{{content}}</p>
    <p class="comment-caption"><em>{{username}} on {{date}}</em></p>
  </div>
  <div class="buttons" *ngIf="authService.admin || authService.userId === userId">
    <button mat-raised-button class="edit-comment-button" (click)="openEdit({title:title, content:content, id:id, userId:userId, date:date})">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button (click)="deletePost()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>