<div class="createdDrinksDiv">
  <mat-card class="myDrinkCard" *ngFor="let d of drinks">
    <mat-card-title class="myDrinkTitle">{{d.name}}</mat-card-title>
      <mat-card-content class="myDrinksContent">
      <!-- input the ingredients and instructions -->
        <h3>Ingredients</h3>
          <ul>
            <li *ngFor="let i of d.ingredients">{{i.amount}} <strong>{{i.name}}</strong></li>
          </ul>
        <br>
        <h3>Instructions</h3>
        <p>{{d.instructions}}</p>

      <!-- <button mat-raised-button (click)="openDialog(d)">edit drink</button> -->

      <div id="edit-buttons" *ngIf="d.userId == authService.userId || authService.admin">

        <button mat-raised-button class="drink-button" (click)="favoriteDrink(d)">
          <!-- toggle favorite (currently {{d.favorite ? 'true' : 'false'}}) -->
          <mat-icon>{{d.favorite ? "favorite" : "favorite_border"}}</mat-icon>
        </button>

        <button mat-raised-button class="drink-button" (click)="openDialog(d)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-raised-button class="drink-button" (click)="openConfirmDialog(d.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

        <a target="_blank" href={{getTwitterLink(d.name)}}> 
          <button mat-raised-button class="drink-button">
            <mat-icon>share</mat-icon>
          </button>
        </a>

        <button mat-raised-button class="drink-button" (click)="openPostbox(d)">
          <mat-icon>chat</mat-icon>
        </button>


      

      <!-- <app-postbox [drinkId]="d.id"></app-postbox>  -->
      <!-- line 28 is calling postbox component -->

    </mat-card-content>
  </mat-card>

  
</div>
<div id="pagination-div">
  <button mat-raised-button *ngIf="page > 0" (click)="pageBackward()">back</button>
  <h3>{{page}}</h3>
  <button mat-raised-button (click)="pageForward()">fwd</button>
</div>