<div class="createdDrinksDiv">
  <mat-card class="myDrinkCard" *ngFor="let d of drinks">
    <mat-card-title class="myDrinkTitle">{{d.name}}</mat-card-title>
    <mat-card-content class="myDrinksContent">
      <!-- input the ingredients and instructions -->
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let i of d.ingredients">{{i.amount}} <strong>{{i.name}}</strong></li>
      </ul>
      <br>
      <h3>Instructions</h3>
      <p>{{d.instructions}}</p>

      <!-- <button mat-raised-button (click)="openDialog(d)">edit drink</button> -->

      <div id="edit-buttons" *ngIf="d.userId == authService.userId || authService.admin">

        <button mat-raised-button (click)="favoriteDrink(d)">
          toggle favorite (currently {{d.favorite ? 'true' : 'false'}})
        </button>

        <button mat-raised-button>
          <mat-icon (click)="openDialog(d)">edit</mat-icon>
        </button>
        <button mat-raised-button (click)="openConfirmDialog(d.id)">delete drink</button>
      </div>

      <app-postbox [drinkId]="d.id"></app-postbox>

    </mat-card-content>
  </mat-card>
</div>
