<!-- <div class="creditsDiv"> -->
  <p id="creditsTitle">Credits</p>
  <!-- <p id="creditsSubtitle"> The following artists have generously granted us permission to use the artwork on this page.</p> -->
  
  <!-- Begin div for actual credits -->
  <div class="creditIconsDiv">
    <div class="iconsCredit">
      <p id="freepikCredit">These icons were made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
    <div class="creditFreepik">
      <img id="margCredit" src="../../assets/marg.png">
      <img id="cosmoCredit" src="../../assets/cosmopolitan.png">
      <img id="mojitoCredit" src="../../assets/mojito.png">
      <img id="shakerCredit" src="../../assets/shaker.png">
      <img id="bottlesCredit" src="../../assets/bottles.png">
      <img id="favAddCredit" src="../../assets/heartAdd.png">
      <img id="favHeartRed" src="../../assets/heartRed.png">
      </div>
  </div>


<!-- Bar -->
<div id="barBeach">
  <p id="barBeachText">Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
  <div class="creditBarBeach">
    <img id="barCredit" src="../../assets/bar.png">
    <img id="beachCredit" src="../../assets/beach.png">
  </div>
</div>


 <!-- Beach 
<div>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
-->
  <!-- </div>
</div> -->

