.creditsDiv {
  border: 2px solid white;
}

#creditsTitle {
  color: var(--lime);
  font-family: var(--font-two);
  font-size: 40px;
  border: 1px solid pink;
  width: 15%;
  margin: auto;
}

#creditsSubtitle {
  color: var(--teal);
  font-family: var(--font-three); //find a different font Lindsey - I don't like this one. Love, Lindsey.
  font-size: 25px;
  border: 1px solid yellow;
  width: 80%;
  margin: auto;
}

.creditIconsDiv {
  border: 1px solid palegreen;
}

.iconsCredit {
  border: 1px solid palegoldenrod;
}

#freepikCredit {
  font-family: var(--font-three);
}

.creditFreepik {
  border: 1px solid palevioletred;

}

#margCredit {
  height: 75px;
}

#cosmoCredit {
  height: 75px;
}

#mojitoCredit {
  height: 75px;
}

#shakerCredit {
  height: 75px;
}

#bottlesCredit {
  height: 75px;
}