<div class="mainAboutDiv">
  <div class="h1DivAbout">
    <h1>About Vloeistof</h1>
  </div>
  <div class="aboutText">
    <p id="line1">Vloeistof is a way to keep track of cocktails you enjoy and want to create.</p>
    <p id="line2">You can add your own custom cocktails or search from a database of already created cocktails.</p>
    <p id="line3">This project was built by Eli T. Drumm, Reese Dick, and Lindsey Dickerson as a requirement for 
      <br>
      Eleven Fifty Academy's Red Badge portion of the October 2019 Javascript Cohort.
      <br>
      <br>
      Want to know more about our project and requirements? Look at our <a href="https://github.com/dteli/vloeistof/blob/dev/README.md">README</a> on Github!</p>
  </div>
  <div class="aboutCards">
    <mat-card class="team">
      <mat-card-header>
        <mat-card-title>Lindsey Dickerson</mat-card-title>
        <mat-card-subtitle>Chief Executive Officer</mat-card-subtitle>
      </mat-card-header>
      <img id="linzPic" mat-card-image src="../../assets/Lindsey.png" alt="Photo of Lindsey">
      <mat-card-content>
        <p>Lindsey is new to the tech world, but that's not stopping her from embracing all things code. When she's not at her computer, you can catch her creating new concoctions in the kitchen, snuggling with her cats, or leading her Brownie Girl Scout troop to sell more cookies! Lindsey is a lifelong Hoosier, and received her Bachelor's degree from Butler University. She gained notoriety after becoming the official Butler University Mascot dog-sitter who helped coordinate appearances at after hour events on campus. </p>
        <a href="https://github.com/LindseyDickerson" target="_blank"><img class="githubLogo" src="../../assets/github-logo.png" alt="Github Logo"></a>
        <a href="https://www.linkedin.com/in/lindseydickerson2/" target="_blank"><img class="linkedInLogo" src="../../assets/linkedin.png"></a>
      </mat-card-content>
    </mat-card>
    <mat-card class="team">
      <mat-card-header>
        <mat-card-title>Eli T. Drumm</mat-card-title>
        <mat-card-subtitle>Chief Technology Officer</mat-card-subtitle>
      </mat-card-header>
      <img id="eliPic" mat-card-image src="../../assets/Eli.png" alt="Photo of Lindsey">
      <mat-card-content>
        <p>Eli is an aspiring developer and data scientist. He has a bachelor's in cognitive science from Indiana University and a master's in logic from the University of Amsterdam. He programs in Python, JavaScript, and Haskell. Eli enjoys animals, music, computers, transit, individuals, information, color, novelty, tropes, meta, and vague lists. Recently for fun (late 2019) he's been solving crosswords and completing his Galar Pokédex. He has a St. Bernard mix named Shannon (after Claude Shannon) and an overweight cat named Atsuo Toggle; they say hi. </p>
        <a href="https://github.com/dteli" target="_blank"><img class="githubLogo" src="../../assets/github-logo.png" alt="Github Logo"></a>
        <a href="https://www.linkedin.com/in/dteli/" target="_blank"><img class="linkedInLogo" src="../../assets/linkedin.png"></a>
      </mat-card-content>
    </mat-card>
    <mat-card class="team">
        <mat-card-header>
          <mat-card-title>Reese Dick</mat-card-title>
          <mat-card-subtitle>Chief Spirit Officer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/Reese.png">
        <mat-card-content>
          <p>As CSO he oversees employee spirit as well as quality assurance for Vloeistof's vast vault of spirit concoctions. If it's on Vloeistof, he's tried it.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <a href="https://github.com/reesed-js" target="_blank"><img id="reeseGithubLogo" src="../../assets/github-logo.png" alt="Github Logo"></a>
        </mat-card-content>
      </mat-card>
  </div>

</div>




