.mainAboutDiv {
  width: 100vw;
  // height: 100vh;
  // border: 5px solid white;
  display: flex;
  // justify-content: center;
  flex-flow: column;
}

.h1DivAbout {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: var(--font-two);
  color: var(--lime);
  text-shadow: 0 0 10px var(--lime);
  // border: 1px solid white;
  width: 25%;
  display: flex;
  height: 50px;
  justify-content: center;
  
}



.aboutCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.team {
  width: 25%;
  background-color: var(--lime);
  border: 2px solid var(--plum);
  border-radius: 10px;
  font-family: var(--font-four);
  color: var(--plum);
  
}


.aboutText {
  // border: 1px solid orangered;
  font-family: var(--font-four);
  color: var(--teal);
  font-size: 20px;
  display: flex;
  justify-content: center;
  // align-content: stretch;
  width: 60%;
  margin: auto;
  flex-direction: column;
}

#line1 {
  // border: 1px solid white;
  width: 77%;
  margin: auto;

}

a {
  color: var(--lime);
}



h3 {
  // border: 1px solid white;
  width: 45%;
  margin: auto;
  font-family: var(--font-two);
}

.githubLogo {
  height: 50px;
  padding: 10px;
}

.linkedInLogo {
  height: 50px;
  padding: 10px;
}

#reeseGithubLogo {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-items: flex-end;
}