:root {// These fonts are from Adobe Creative Cloud
--font-one: kon-tiki-aloha-jf, sans-serif; //only used for header - think Spongebob
--font-two: fairwater-sans, sans-serif; //used for navbar, a fun font
--font-three: interstate, sans-serif; // titles in pages (I think lol)
--font-four: macho, sans-serif; //just kidding I'm using this for the page titles

// These are the colors for our theme
--teal: #6dd3cd;
--lime: #c8e9a0;
--orange: #f7a278; //header background and navbar font color
--plum: #a13d63; //navbar background and header font color
--darkPlum: #351e29;

}