<mat-form-field class="mixChipList">
    <mat-chip-list #chipList aria-label="Mix Selection">
        <mat-chip *ngFor="let m of mixIng" [selectable]="selectable"
            [removable]="removable" (removed)="remove(mixIng)">
        {{m.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New mixIng"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>







<!-- <input placeholder="drink name">
<div id="ingredients">
    <h2>Ingredients</h2>
    <div id="ingredient-add">
        <input [(ngModel)]="inputAmount">
        <input [(ngModel)]="inputIngredient">
        <button (click)="addIngToList()">Add Ingredient</button>
    </div>
    <div id="ingredients-list">
    </div>
</div>

<div id="instructions">
<h2>Instructions</h2>
    <textarea placeholder="instructions"></textarea>
</div> -->
