.mixField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drinkNameField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.ingredientsField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instructionsField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    min-width: 25vw;
    text-align: center;
}

textarea {
    height: 100px;
    // border: solid black 1px;
    // border-radius: 10px 10px;
}

::ng-deep .mat-form-field-underline {
    background-color: #50d0fb !important;
  }

  ::ng-deep .mat-form-field-label {
    color: #50d0fb !important;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #50d0fb !important;
  }

  ::ng-deep .mat-form-field .mat-form-field-outline {
    color: #50d0fb !important;
  }

  ::ng-deep .mat-form-field .mat-input {
    color: #50d0fb !important;
  }

  input {
      color: white;
  }

  h2 {
      color: #50d0fb;
  }