
<input name="drinkName" placeholder="drink name goes here" [(ngModel)]="drinkName">


<h2>Ingredients</h2>
<mat-form-field class="mixChipList">
    <mat-chip-list #chipList aria-label="Mix Selection">
        <mat-chip *ngFor="let m of ings" [selectable]="selectable"
            [removable]="removable" (removed)="remove(m)">
        {{m.amount + "&ensp;"}} <strong>{{m.name}}</strong>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New mixIng"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addIng($event)">
    </mat-chip-list>
</mat-form-field>







<!-- <input placeholder="drink name">
<div id="ingredients">
    <h2>Ingredients</h2>
    <div id="ingredient-add">
        <input [(ngModel)]="inputAmount">
        <input [(ngModel)]="inputIngredient">
        <button (click)="addIngToList()">Add Ingredient</button>
    </div>
    <div id="ingredients-list">
    </div>
</div>-->

<div id="instructions">
<h2>Instructions</h2>
    <textarea placeholder="instructions" [(ngModel)]="instructions"></textarea>
</div>



<button type="button" (click)="addDrink()">ADD THAT DRANK</button>