.mixField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drinkNameField {
    //display: flex;
    //flex-flow: column nowrap;
    //justify-content: center;
    //align-items: center;
    margin-top: 2rem;
}

.ingredientsField {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instructionsField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.addDrinkButton {
  padding-top: 20px;
}

mat-form-field {
    // min-width: 25vw;
    // text-align: center;
}

#drinkName {
  width: 400px;
  text-align: center;
}

#ingredient-add1 {
  width: 400px;
  text-align: center;
  margin-right: 4px;
}

#ingredient-add2 {
  width: 400px;
  text-align: center;
  margin-left: 4px;
}

#instructionsSize {
  width: 400px;
  text-align: center;
}

::ng-deep .mat-form-field-underline {
    background-color: var(--teal) !important;
  }

  ::ng-deep .mat-form-field-label {
    color: var(--teal) !important;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: var(--teal) !important;
  }

  ::ng-deep .mat-form-field .mat-form-field-outline {
    color: var(--teal) !important;
  }

  ::ng-deep .mat-form-field .mat-input {
    color: var(--teal) !important;
  }

  input {
      color: white;
      font-family: var(--font-four);
  }

  h2 {
      color: var(--lime);
      font-family: var(--font-two);
      font-size: 2rem;
  }

  #mixButton {
    background-color: var(--darkPlum);
    color: var(--lime);
    border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
  }

  #addIngredientButton {
    background-color: var(--darkPlum);
    color: var(--lime);
    border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
    font-size: 1.4rem;
    //width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  textarea {
    color: white;
    font-family: var(--font-four);
  }

  .inline-header {
    display: inline;
    margin-right: 2rem;
  }

  .drink-button {
    //width: 350px;
    height: 50px;
    display: inline-block;
    //flex-flow: row nowrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--teal);
    color: var(--darkPlum);
  }

  .inline-mff {
    display: inline-block;
  }

  #hearty {
    //padding-left: 10px;
  }

  .mat-chip {
    background-color: var(--teal);
    color: var(--darkPlum);
    font-size: 2rem;
    padding: 1rem;
  }

  .mat-standard-chip.mat-chip-with-trailing-icon {
    padding: 1.2rem;
    border-bottom: solid 4px var(--lime);
  }


@media screen and (max-width: 900px) {

  .drinkNameField {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
  
    .inline-header {
      margin-right: 0;
    }
  }

  #drinkName {
    width: auto;
    padding: 0; 
  }

  .mat-form-field {
    width: 60%;
    &#ingredient-add1 {
      width: 60%;
    }
    &#ingredient-add2 {
      width: 60%;
    }
  }

  .favoriting {
    text-align: center;
  }




}