.authenticationField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.toggleButton {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

p {
    margin-bottom: 5px;
    font-size: 9pt;
    // letter-spacing: 2px;
    word-spacing: 5px;
    color: white;
}

h2 {
    color: white;
}

.inputFields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 250px;
    align-items: space-between;
}

mat-form-field {
    min-width: 25vw;
    text-align: center;
}

::ng-deep .mat-form-field-underline {
    background-color: #50d0fb !important;
}

::ng-deep .mat-form-field-label {
    color: #50d0fb !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #50d0fb !important;
}

::ng-deep .mat-form-field .mat-form-field-outline {
    color: #50d0fb !important;
}

::ng-deep .mat-form-field .mat-input {
    color: #50d0fb !important;
}

input {
    color: white;
}

button {
    width: 200px;
    height: 50px;
}