.authenticationField {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#createAccount {
    color: var(--lime);
    font-family: var(--font-two);
}

// .mat-form-field-infix { //This did not change what I wanted
//     font-family: var(--font-four);
//     color: var(--teal);
// }

.inputFields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    // height: 250px;
    align-items: space-between;
    color: var(--teal);
    margin-bottom: 5px;
}

.userInput {

}

.emailInput {
    margin-top: 10px;
}

.passwordInput {
    margin-top: 10px;
}

#usernameInput {
    font-family: var(--font-four);
    color: var(--teal);
    font-size: 30px;
}

.toggleButton {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

p {
    margin-bottom: 5px;
    font-size: 9pt;
    // letter-spacing: 2px;
    word-spacing: 5px;
    color: white;
}

h2 {
    color: white;
}

// .inputFields {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     height: 250px;
//     align-items: space-between;
// }

mat-form-field {
    min-width: 300px;
    text-align: center;
}

::ng-deep .mat-form-field-underline {
    // background-color: #50d0fb !important;
    background-color: var(--teal) !important;
}

::ng-deep .mat-form-field-label {
    // color: #50d0fb !important;
    color: var(--teal) !important;
    font-family: var(--font-four);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: var(--teal) !important;
}

::ng-deep .mat-form-field .mat-form-field-outline {
    color: var(--teal) !important;
}

::ng-deep .mat-form-field .mat-input {
    color: var(--teal) !important;
    font-family: var(--font-four);
}

input {

    color: white;
}

button {
    // width: 200px;
    height: 50px;

}

#submitButton {
    background-color: var(--darkPlum);
    color: var(--lime);
    border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
    font-size: 1.4rem;
    width: 300px;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
}

#loginToggleButton {
    background-color: var(--darkPlum);
    color: var(--lime);
    border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
    font-size: 1.4rem;
    width: 200px;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
}