<div class="header">
<img id=cosmo src="../../assets/cosmopolitan.png">
<p id="headerText">Vloeistof</p>
<img id=marg src="../../assets/marg.png">
</div>
<nav>
  <ul>
    <li><img id=mojito src="../../assets/mojito.png"></li>
    <li><a routerLink="/drinks">My Drinks</a></li>
    <li><img id=shaker src="../../assets/shaker.png"></li>
    <li><a routerLink="/mix">Mix Drinks</a></li>
    <li><img id=bottles src="../../assets/bottles.png"></li>
    <li><a routerLink="/search">Search Drinks</a></li>
    <li><img id=bar src="../../assets/bar.png"></li>
    <li><a routerLink="/credits">Credits</a></li>
    <li><img id=beach src="../../assets/beach.png"></li>
  </ul>
</nav>
