div#navbar {
  display: flex;
  width: 100vw;
  background: var(--plum);
  flex-wrap: wrap;
  align-items: center;
}


.header {
  // border: 1px solid black;
  height: 100px;
  background-color: var(--orange);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: var(--font-one);
  color: var(--plum);
  display: inline-flex;
  justify-content: center; //acutally centers this from left to right on the page...don't change this.
  align-items: center; //centers it from top to bottom
  flex-grow: 1;
  
}

#cosmo {
  height: 75px;
  padding: 20px;
}

#headerText {
  font-size: 3rem;
  // border: 1px solid black;
  //height: 75px;
}

#marg {
  height: 80px;
  padding: 20px;
}

nav {
  // border: 1px solid green;
  background-color: var(--plum);
  color: var(--orange);
  height: 60px;
  font-family: var(--font-two);
  display: inline-flex;
  flex-grow: 3;
  //align-items: baseline; //centers it from top to bottom
  justify-content: flex-end; //acutally centers this from left to right on the page...don't change this.
  flex-wrap: wrap;
  padding-right: 1rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  // border: 1px solid purple;
}

li {
  display: inline;
  padding: 15px;
  font-family: var(--font-two);
  display: flex;
  flex-wrap: nowrap;
}

li a {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  text-decoration: none;
  color: var(--orange);
  font-size: 1.6rem;
  justify-content: flex-start;
  align-items: baseline;
}

#mojito {
  height: 40px;
  // border: 1px solid black;
  // margin: auto;
}

#shaker {
  height: 40px;

}

#bottles {
  height: 40px;
}

#bar {
  height: 40px;
}

#beach {
  height: 40px;
}


.active-link {
  border-bottom: solid var(--teal) 8px;
}

#logoutButton {
  background-color: var(--orange);
  color: var(--plum);
  height: 50px;
  margin-top: 8px;
  font-size: 1.2rem;
  font-family: var(--font-two);
  margin-left: 10px;
  border: 3px solid var(--plum);
  border-radius: 10px;
}

@media screen and (max-width: 900px) {

  nav {
    justify-content: center;
  }

  .header {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


}