#navbar {
  display: flex;
  //width: 100vw;
  margin-top: 0px;
  background: var(--plum);
  // flex-wrap: wrap;
  // align-items: center;
  // border-bottom: 10px solid var(--darkPlum);
}


.header {
  // border: 1px solid black;
  height: 100px;
  //width: 100vw;
  background-color: var(--orange);
  // border-top-right-radius: 30px;
  // border-bottom-right-radius: 30px;
  font-family: var(--font-one);
  color: var(--plum);
  display: inline-flex;
  justify-content: center; //acutally centers this from left to right on the page...don't change this.
  align-items: center; //centers it from top to bottom
  flex-grow: 1;
  // border-bottom: 10px solid var(--darkPlum);
  
}

#cosmo {
  height: 75px;
  padding: 20px;
}

#headerText {
  font-size: 4rem;
  // border: 1px solid black;
  //height: 75px;
}

#marg {
  height: 80px;
  padding: 20px;
}

.menuBar {
  background-color: var(--plum);
  // border: 1px solid paleturquoise;
  display: flex;
  align-items: center;

}

.menuButton {
  // border: 1px solid yellow;
}
.mat-icon {
  // border: 1px solid white;
}

mat-icon {
  color: var(--orange);
}


nav {
  // border: 1px solid green;
  background-color: var(--plum);
  color: var(--orange);
  height: 70px;
  font-family: var(--font-two);
  display: inline-flex;
  flex-grow: 3;
  //align-items: baseline; //centers it from top to bottom
  justify-content: flex-end; //acutally centers this from left to right on the page...don't change this.
  flex-wrap: wrap;
  padding-right: 1rem;
}


// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: row;
//   // border: 1px solid purple;
// }



li {
  display: inline;
  padding: 15px;
  font-family: var(--font-two);
  display: flex;
  flex-wrap: nowrap;

  &.rlink:hover {
    border-bottom: solid var(--orange) 8px;
  }
}

a {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  text-decoration: none;
  color: var(--plum);
  font-size: 1rem;
  justify-content: flex-start;
  align-items: baseline;
}

#drinkMenu {
  color: var(--plum);
  font-size: 1rem;
}

::ng-deep .mat-menu-content {
  background-color: var(--orange);

  button {
    font-family: var(--font-two);
  }

  a {
    
    button {
      font-family: var(--font-two);
      color: var(--plum);
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

// #mojito {
//   height: 40px;
  // border: 1px solid black;
  // margin: auto;
// }

// #shaker {
//   height: 40px;

// }

// #bottles {
//   height: 40px;
// }

// #bar {
//   height: 40px;
// }

// #beach {
//   height: 40px;
// }


// .active-link {
//   border-bottom: solid var(--teal) 8px;
// }

// #logoutButton {
//   background-color: var(--orange);
//   color: var(--plum);
//   height: 50px;
//   margin-top: 8px;
//   font-size: 1.2rem;
//   font-family: var(--font-two);
//   margin-left: 10px;
//   border: 3px solid var(--plum);
//   border-radius: 10px;
// }

@media screen and (max-width: 900px) {

  nav {
    //display: block;
    justify-content: center;
    //overflow: scroll;
    height: 50px;
  }

  #headerText {
    font-size: 3rem;
  }

  .header {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 70px;
  }

  #cosmo,#marg {
    height: 50px;
    padding: 10px;
  }

}



