<div id="navbar">
    <div class="menuBar">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button id="drinkMenu" mat-menu-item [matMenuTriggerFor]="drinks">Drinks</button>
          <a routerLink="/mix"><button mat-menu-item routerLinkActive="active-link">Mix</button></a>
          <a routerLink="/search"><button mat-menu-item routerLinkActive="active-link">Search</button></a>
          <a routerLink="/credits"><button mat-menu-item routerLinkActive="active-link">Credits</button></a>
          <a routerLink="/admin"><button mat-menu-item *ngIf="authService.admin" routerLinkActive="active-link">Admin</button></a>
          <button id="drinkMenu" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <mat-menu #drinks="matMenu">
          <a routerLink="/drinks/my"><button mat-menu-item routerLinkActive="active-link">My Drinks</button></a>
          <a routerLink="/drinks/created"><button mat-menu-item routerLinkActive="active-link">Created Drinks</button></a>
          <a routerLink="/drinks/api"><button mat-menu-item routerLinkActive="active-link">Saved drinks</button></a>
          <a routerLink="/drinks/favorite"><button mat-menu-item routerLinkActive="active-link">Favorite Drinks</button></a>
          <a routerLink="/drinks/all"><button mat-menu-item routerLinkActive="active-link">All Drinks</button></a>
        </mat-menu>
      </div>
  <div class="header">
    <img id=cosmo src="../../assets/cosmopolitan.png">
    <p id="headerText">Vloeistof</p>
    <img id=marg src="../../assets/marg.png">
  </div>
</div>  



<!-- <nav>
  <ul>
    <li *ngIf="authService.admin" routerLinkActive="active-link" class="rlink"><a routerLink="/admin">Admin</a></li>
    <li *ngIf="authService.admin"><img id="mojito" src="../../assets/mojito.png"></li>
    <li routerLinkActive="active-link" class="rlink"><a routerLink="/drinks/my">Drinks</a></li>
    <li><img id="shaker" src="../../assets/shaker.png"></li>
    <li routerLinkActive="active-link" class="rlink"><a routerLink="/mix">Mix</a></li>
    <li><img id="bottles" src="../../assets/bottles.png"></li>

    <li routerLinkActive="active-link"><a routerLink="/search">Search</a></li>
     <li><img id="bar" src="../../assets/bar.png"></li>

  </ul>
</nav>
</div> -->
  <!-- <div>
    <button mat-button [matMenuTriggerFor]="">Menu</button>
    
  </div>
</div> -->