<h2>Sign Up</h2>

<!-- <form [formGroup]="signupForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"/>
    </div>
    <div class="form-group">
        <button>
            Signup
        </button>
    </div>
</form> -->
