// #masterdiv {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   justify-content: flex-start;
// }

// router-outlet {
//   flex-grow: 0;
//   width: 100vw;
// }

// app-mydrinks {
//   flex-grow: 1;
// }

// app-footer {
//   flex-grow: 0;
//   width: 100vw;
// }

// app-search {
//   flex-grow: 1;
// }

#spacer {
  flex-grow: 1;

}

.masterdiv {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 100vh;
}

.appies {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 0;
}

.routies {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.footies {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 0;
}