div#masterdiv {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

router-outlet {
  flex-grow: 0;
}

app-mydrinks {
  flex-grow: 1;
}

app-footer {
  flex-grow: 0;
}

app-search {
  flex-grow: 1;
}

#spacer {
  flex-grow: 1;

}