
nav {
  background: var(--orange);
  color: var(--darkPlum);
  
  a {
    font-family: var(--font-two);
    font-weight: bold;
    color: var(--darkPlum);
    font-size: 1.2rem;

    &:active {
      border-bottom: solid var(--darkPlum) 5px;
    }
  }
}

