<div class="createdDrinksDiv">
  <mat-card class="myDrinkCard">
    <mat-card-title class="myDrinkTitle">My Created Drink 
      <!-- Card title will change once data binding is finished -->
    </mat-card-title>
    <mat-card-content>
      <!-- input the ingredients and instructions -->
      Ingredients
      <br>
      Instructions
    </mat-card-content>
  </mat-card>
</div>
<!-- <div class="favDrinksDiv">
***work on my drinks first, then we can add favorited drinks from API*** 
</div> -->
