<div class="donate-landing-page">
  <div class="title-h2">
    <h2>Donate to Vloeistof</h2>
  </div>

  <div id="amount-div" *ngIf="!clientSecret">
    <div id="preset-amounts-div">
      <div class="chump-change">
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(100)">$1</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(200)">$2</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(500)">$5</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(1000)">$10</button>
      </div>
      <div class="now-were-talkin">
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(2000)">$20</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(5000)">$50</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(10000)">$100</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(25000)">$250</button>
      </div>
      <div class="show-me-the-money">
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(50000)">$500</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(100000)">$1000</button>
        <button mat-raised-button class="preset-amount-button" (click)="setAmount(1000000)">$10000</button>
      </div>
    </div>
    <div class="money-input">
      <mat-form-field>
        <input matInput placeholder="or enter US dollar amount" [(ngModel)]="amount">
      </mat-form-field>
    </div>
    <div class="enter-card-deets-button">
      <button mat-raised-button type="button" (click)="setAmount(undefined)">Enter card details</button>
    </div>
  </div>
</div>

<div id="payment-div" *ngIf="clientSecret && succeeded === undefined">

  <h3>Donating ${{(amount/100).toFixed(2)}}</h3>

  <label for="card-div">Card Details</label>
  <div id="card-div">
  </div>

  <button mat-raised-button class="submit-button" (click)="submitPayment()">Submit</button>


</div>

<div id="success-div" *ngIf="succeeded">

  <h1>THANK YOU FOR YOUR PATRONAGE</h1>

  <a routerLink="/drinks/my">Back to Vloeistof</a>

</div>
<div id="failure-div" *ngIf="succeeded === false">

  <p>Error: {{errortext}}</p>

  <button mat-raised-button (click)="resetEverything()">Try again</button>

</div>


<div id="spinner-div" *ngIf="spin">

  <mat-spinner></mat-spinner>

</div>