.searchField {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 40vw;
    height: 45px;
}

.searchInput{
    padding-left: 10px;
    padding-right: 10px;
}

button {
    height: 45px;
    width: 150px;
}

#searchbox {
    background-color: var(--orange);
    border: none;
    border-radius: 5px 5px;
    text-align: center;
}



mat-card {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

mat-card-title-group {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.searchResults {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
    align-items: space-around;
}

.searchPage {
    display: flex;
    width: 100vw;
    // min-height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

mat-button-toggle {
    background-color: var(--darkPlum);
    color: var(--lime);
    // border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    background-color: var(--darkPlum);
    color: var(--lime);
    border: 1px solid var(--teal);
    border-radius: 10px;
    font-family: var(--font-two);
}