.searchField {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
        background-color: var(--orange);
        color: var(--darkPlum);
    }

    mat-button-toggle {
        background-color: var(--orange);
        color: var(--darkPlum);        
    }

    .mat-button-toggle-checked {
        background-color: var(--darkPlum);
        color: var(--teal);
        border: solid var(--lime) 2px;
    }
}

input {
    width: 40vw;
    height: 45px;
}

.searchInput{
    padding-left: 10px;
    padding-right: 10px;
}

button {
    height: 45px;
    //width: 150px;
}

#searchbox {
    background-color: var(--orange);
    border: none;
    border-radius: 5px 5px;
    text-align: center;
}



mat-card {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: var(--teal);
    color: var(--darkPlum);
}

mat-card-title-group {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    mat-card-title {
        color: var(--darkPlum);
        font-family: var(--font-two);
    }
}

mat-expansion-panel {
    background-color: var(--darkPlum);
    color: var(--teal);

    p {
        color: var(--teal);
    }
}

.searchResults {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
    align-items: space-around;
}

.searchPage {
    display: flex;
    width: 100vw;
    // min-height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    button {
        margin-top: 1.2rem;
        background-color: var(--darkPlum);
        color: var(--lime);
        font-family: var(--font-two);
    }

    .right-aligned-div {
        text-align: center;
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}